
{% extends 'front.html.twig' %}

{% block title %}New Password{% endblock %}

{% block body %}
<div class="container">
  <h1 class="text-center mb-4">Reset Password</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Reset Password') }}</button>

    {{ form_end(form) }}
    </div>
    </div>
{% endblock %}